* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: #ffffff;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.form {
  font: inherit;
  width: 371px;
  height: 40px;
  text-align: center;
  margin-top: 36px;
  display: flex;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
}

input {
  font: inherit;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding-left: 16px;
}

input:hover {
  font: inherit;
  border: 1px solid #000;
}

input:focus {
  font: inherit;
  padding-left: 16px;
  border: 1px solid #4e75ff;
  outline: none;
}

input::placeholder {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 16px;
}

input:focus::placeholder {
  transform: translateX(-16px);
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  color: #fff;
  background: #4e75ff;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

.load-more-button {
  width: 130px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 44px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.container {
  display: flex;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  margin: auto;
  margin-top: 32px;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  overflow: hidden;
  border: 1px solid #808080;
}

.gallery-item img {
  width: 360px;
  height: 200px;
  object-fit: cover; /* Заповнює контейнер, обрізаючи зайве */
}

.gallery-img {
  display: block;
  max-width: 100%;
}

.gallery-descript {
  display: flex;
  padding: 4px 20px;
  justify-content: space-between;
}

.text__item {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__span {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.stats {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  background: #fff;
  max-height: 48px;
  padding: 4px 20px;
}

p.text {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}
